/* Archivo CSS para el botón con estilo de corazón */
.heart-button {
    background-color: white; /* Fondo blanco */
    border: 2px solid yellow; /* Borde amarillo */
    color: yellow; /* Color del ícono */
    border-radius: 50%; /* Forma circular */
    width: 40px; /* Ajusta el tamaño según sea necesario */
    height: 40px; /* Ajusta el tamaño según sea necesario */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; /* Tamaño del ícono */
}

.heart-button:hover {
    background-color: yellow; /* Fondo amarillo al pasar el mouse */
    color: white; /* Color del ícono en el estado hover */
    border-color: yellow; /* Asegura que el borde sea amarillo en el estado hover */
}

.heart-button .bi-heart-fill {
    font-size: 20px; /* Tamaño del ícono */
}
